img.image-woman{
  margin-top: 220px;
  filter: grayscale(1);
  border: 5px solid transparent;
  transition: 0.5s all ease-in-out;
}

img.image-woman:hover{
  filter: grayscale(0);
  border: 5px solid #FFC107;
}
